


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Service</a>
                    <span class="breadcrumb-item active">Service Detail</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


   

            <!-- Shop Product Start -->
           
                    
               
           <div class="service">
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1" >
                        <div class="product-item bg-light mb-4 Card1" >
                            <div class="product-img position-relative overflow-hidden" >
                               <!-- <img src="{{sd.serviceImg}}">
                                <h1>{{sd.serviceName}}</h1>
                                <p>{{sd.servicePrice | currency:'INR'}}</p>
                                <a class="btn btn-outline-dark btn-square" [routerLink]="['/service',sd.id]"><i class="fa fa-search"></i></a> -->
                             <img class="img-fluid CardImg" src="../../../assets/images/S1.webp" alt="">  
                                <div class="product-action">
                                    
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" type="button"> <i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                               <a class="h6 text-decoration-none text-truncate" href="">Refrigerator Service Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                     <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div> 
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <!-- <small>(99)</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                   
                  
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4 Card1">
                            <div class="product-img position-relative overflow-hidden">
                               <img class="img-fluid CardImg" src="../../../assets/images/S2.webp" alt="">
                                <div class="product-action">
                                    
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                 <a class="h6 text-decoration-none text-truncate" href="">Window Service Goes Here</a> 
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                     <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6> 
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <!-- <small>(99)</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4 Card1">
                            <div class="product-img position-relative overflow-hidden">
                                 <img class="img-fluid CardImg" src="../../../assets/images/S3.webp" alt=""> 
                                <div class="product-action">
                                    
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">Roof Service Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <!-- <small>(99)</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="service2">
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4 Card1">
                            <div class="product-img position-relative overflow-hidden">
                              <img class="img-fluid CardImg1" src="../../../assets/images/S4.jpg" alt=""> 
                                <div class="product-action">
                                    
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            
                            
                            
                            <div class="text-center py-4">
                               <a class="h6 text-decoration-none text-truncate" href="">Tiles Service Goes Here</a> 
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                   <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6> 
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star-half-alt text-primary mr-1"></small>
                                    <!-- <small>(99)</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4 Card1">
                            <div class="product-img position-relative overflow-hidden">
                             <img class="img-fluid CardImg1 " src="https://tse3.mm.bing.net/th?id=OIP.7SGVncaeeaG_AHOgGJzqRwAAAA&pid=Api&P=0" alt=""> 
                                <div class="product-action">
                                    
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                 <a class="h6 text-decoration-none text-truncate" href="">Kitchen Furniture Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                 <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6> 
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star-half-alt text-primary mr-1"></small>
                                  <small class="far fa-star text-primary mr-1"></small>
                                    <!-- <small>(99)</small>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4 Card1">
                            <div class="product-img position-relative overflow-hidden">
                              <img class="img-fluid CardImg1 " src="../../../assets/images/S5.jpeg" alt=""> 
                                <div class="product-action">
                                    
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">Painting Service Goes Here</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                 <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6> 
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <!-- <small>(99)</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light Card1">
                            <div class="product-img position-relative overflow-hidden">
                             <img class="img-fluid CardImg3" src="../../../assets/images/S6.jpg" alt="">
                                <div class="product-action">
                                    
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                          <a class="h6 text-decoration-none text-truncate" href="">Pest Service Goes Here</a> 
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                   <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6> 
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <small class="far fa-star text-primary mr-1"></small>
                                    <!-- <small>(99)</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    

            
                   
            <!-- Shop Product End -->
       
  
    <!-- Shop End -->


   
